<div>Umbra Full Record: <%= link_to document.fetch('title_ssi', ''), solr_document_path(document['id']) %></div>
<div>Original: <%= link_to document.fetch('isShownAt_ssi', ''), document.fetch('isShownAt_ssi', '') %></div>
<div>Record ID: <%= document.fetch('id', '') %></div>
<div>Missing Document for this Flag Vote</div>



