%h1
  Contributing Institution:
  = @data_provider.name
%ul
  %li
    %label
      Engagement Types:
    %ul
      %li
        %label
          Full Record View:
        A record from a given Contributing Institution is viewed by an
        %em
          Umbra 
        site visitor on the
        %em
          Umbra
        website.
      %li
        %label
          View Original Click:
        An
        %em
          Umbra
        site visitor clicks on a 
        .btn.btn-default.btn-sm.btn-primary.btn-view-original
          View Original
        button for the given Contributing Institution somewhere on the
        %em
          Umbra 
        website and is referred back to the Contributing Institution website.
  %li
    %label
      Engagement Count:
    The number of times one of the above engagements happened for a given record.

%table.table-striped.table-bordered.table-condensed 
  %tr
    %th
      Engagement Count
    %th
      Engagement Type
    %th
      Record

  %tbody
    - data_provider_stats(@data_provider.id).each do |stat|
      %tr
        %td
          = stat.count
        %td
          = engagement_name stat.category_name
        %td
          = full_record_link(stat.record_id)

