version: '3'
services:
  solr:
    image: umbra_solr:dev
    ports:
      - "8983:8983"
    volumes:
      - ./snapshots:/snapshots
  solr_test:
    image: umbra_solr:dev
    ports:
      - "8984:8983"
    volumes:
      - ./snapshots:/snapshots
  web:
    build: .
    env_file:
      - .env
    command: >
      bash -c "
        RAILS_ENV=test rails s -b 0.0.0.0 -p 3001 --pid `pwd`/tmp/pids/server-test.pid &
        # Run web server
        rails s -b 0.0.0.0 -p 3000"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
      - "3001:3001"
    links:
      - solr
      - solr_test
      - db
      - redis
    depends_on:
      - solr
  db:
    image: library/mysql:5.6.22
    volumes:
      - umbra-db-data:/var/lib/mysql
      - ./docker/data:/docker-entrypoint-initdb.d
  sidekiq:
    build: .
    command: bundle exec sidekiq -r /app
    volumes:
      - .:/app
    links:
      - redis
    env_file:
      - .env
  redis:
    image: redis:latest
  redis_cache:
    image: redis:4.0.10
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
        - ./docker/redis-cache.conf:/usr/local/etc/redis/redis.conf
  selenium:
    image: selenium/standalone-chrome-debug:latest
    ports: ['4444:4444', '5900:5900']
    stdin_open: true
    tty: true
volumes:
  umbra-db-data:
    driver: local