<li class="browse browse-item">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
  Browse
  <b class="caret"></b>
  </a>
  <ul aria-labelledby="browse" class="dropdown-menu" role="menu">
    <%= render partial: 'shared/browse_nav_options' %>
  </ul>
</li>
<li class="browse-item">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
  <i class="icon-help-circled"></i>
  Help
  <b class="caret"></b>
  </a>
  <ul aria-labelledby="help" class="dropdown-menu" id="help" role="menu">
    <li role="presentation">
      <a id="about-nav-link" href="/about">About Umbra</a>
    </li>
    <li role="presentation">
      <a id="participate-nav-link" href="/about/participate">How to Participate</a>
    </li>
    <li role="presentation">
      <a id="contact-nav-link" href="/about/contact">Contact Us</a>
    </li>
  </ul>
</li>