<li class="browse browse-item">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
  Browse
  <b class="caret"></b>
  </a>
  <ul aria-labelledby="browse" class="dropdown-menu browse-options" role="menu">
    <%= render partial: 'shared/browse_nav_options' %>
  </ul>
</li>
<li class="browse-item">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
  <i class="icon-help-circled"></i>
  Help
  <b class="caret"></b>
  </a>
  <ul aria-labelledby="help" class="dropdown-menu" id="help" role="menu">
    <li role="presentation">
      <%= link_to 'About Umbra', path_for_page('about'), :id => 'about-nav-link' %>
    </li>
    <li role="presentation">
      <%= link_to 'How to Participate', path_for_page('participate'), :id => 'participate-nav-link' %>
    </li>
    <li role="presentation">
      <%= link_to 'Contact Us', path_for_page('contact'), :id => 'contact-nav-link' %>
    </li>
  </ul>
</li>