<li role="presentation"><a href="/catalog/facet/creator_ssim?limit=100&q=&search_field=all_fields&facet_view=full&facet.sort=index">Creator</a></li>
<li role="presentation"><a href="/catalog/facet/subject_ssim?limit=100&q=&search_field=all_fields&facet_view=full&facet.sort=index">Keyword</a></li>
<li role="presentation"><a href="/catalog/facet/dataProvider_ssi?limit=100&q=&search_field=all_fields&facet_view=full&facet.sort=index">Contributing Institution</a></li>
<li role="presentation"><a href="/catalog/facet/sourceResource_spatial_state_ssi?limit=100&q=&search_field=all_fields&utf8=%E2%9C%93&facet_view=full&facet.sort=index">Location</a></li>
<li role="presentation"><a href="/catalog/facet/sourceResource_collection_title_ssi?limit=100&q=&search_field=all_fields&utf8=✓&facet_view=full&facet.sort=index">Collection</a></li>