%section#footer
  %div.container
    %div.row
      %div.col-xs-12
        %div.row

          %div.col-sm-10
            %div.row
              %div.col-sm-3
                %h3
                  %a Umbra
                %ul.list-unstyled
                  %li
                    %a{href:'#'} About UMBRA
                  %li
                    %a{href:'#'} How to Submit
                  %li
                    %a{href:'#'} Contact Us
