%section#footer
  %div.col-sm-12
    %div.row
      %div.col-sm-2
      %div.col-sm-6.col-xs-12.static-page-links
        %ul.list-unstyled
          %li
            %a{href:'/about', id: "about-foot-link"} About
            |
          %li
            %a{href:'/about/participate', id: "participate-foot-link"} Get Involved
            |
          %li
            %a{href:'/about/contact', id: "contact-foot-link"} Contact Us
            |
          %li
            %a{href: 'https://umbrasearchblog.org'} Blog
      %div.col-sm-2.col-xs-12.credits
        %div.addthis_custom_follow

