%section#footer
  %div.container
    %div.row
      %div.col-xs-12
        %div.row

          %div.col-sm-10
            %div.row
              %div.col-sm-6.static-page-links
                %ul.list-unstyled
                  %li
                    %a{href:'about'} About UMBRA
                    |
                  %li
                    %a{href:'contribute'} How to Submit
                    |
                  %li
                    %a{href:'contact'} Contact Us
              %div.col-sm-6.credits
                Umbra is brought to you by:
                %ul
                  %li
                    %a{href:'http://www.imls.gov'} Institute of Museum and Library Services
                  %li
                    %a{href:'https://www.lib.umn.edu'} University of Minnesota Libraries
                  %li
                    %a{href:'http://www.penumbratheatre.org'} Penumbra Theater Company
