%section#footer
  %div.col-sm-12
    %div.row
      %div.col-sm-2
      %div.col-sm-6.col-xs-12.static-page-links
        %ul.list-unstyled
          %li
            %a{href:'/about', class: "about-foot-link about-link foot-link"} About
            |
          %li
            %a{href:'/about/participate', class: "participate-foot-link participate-link foot-link"} Get Involved
            |
          %li
            %a{href:'/about/contact', class: "contact-foot-link contact-link foot-link"} Contact Us
            |
          %li
            %a{href: 'https://umbrasearchblog.org', class: "blog-foot-link blog-link foot-link"} #UmbraSearch
            |
          %li
            %a{href: 'https://z.umn.edu/report-accessibility-issue', class: "contact-link foot-link"} Report Web Accessibility Issues
      %div.col-sm-2.col-xs-12.credits
        %div.addthis_custom_follow

