%section#footer
  %div.container
    %div.row
      %div.col-xs-12
        %div.row
          %div.col-sm-10
            %div.row
              %div.col-sm-6.static-page-links
                %ul.list-unstyled
                  %li
                    %a{href:'/about', id: "about-foot-link"} About <em>Umbra</em>
                    |
                  %li
                    %a{href:'/about/participate', id: "participate-foot-link"} How to Participate
                    |
                  %li
                    %a{href:'/about/contact', id: "contact-foot-link"} Contact Us
                %div.addthis_custom_follow
              %div.col-sm-6.credits
                <em>Umbra</em> is brought to you by:
                %ul
                  %li
                    %a{href:'https://www.lib.umn.edu', id: "umlib-foot-link"} University of Minnesota Libraries
                  %li
                    %a{href:'http://www.penumbratheatre.org', id: "penumbra-foot-link"} Penumbra Theatre Company
                  %li
                    %a{href:'http://www.imls.gov', id: "imls-foot-link"} Institute of Museum and Library Services
                  %li
                    %a{href:'http://www.ddcf.org', id: "dd-foot-link"} Doris Duke Charitable Foundation

