<a class="sr-only" href="#main">Skip to main content</a>
<nav class="navbar navbar-default navbar-static-top navbar-inverse navbar-primary navbar-fixed-top" role="navigation">

  <div class="container">
    <div class="navbar-header">
      <div class="clearfix"><a class="navbar-brand" href="/"><%= image_tag('2Color-UmbraMarkSmall.png', size: "75x75") %></a></div>
    </div>
    <ul class="nav navbar-nav navbar-left" id="primary-nav">
      <li><%= render_search_bar  %></li>
      <%= render partial: 'shared/browse_nav' %>
      <%= render partial: 'shared/blacklight_folders_nav' %>
    </ul>
      <% render partial: 'shared/authentication_block' %>
  </div>
</nav>