'<form id="umbra-search-form" class="form-inline" action="">' +
'  <a href="<%= request.base_url %>"><img src="/assets/2Color-UmbraMarkSmall.png" alt="Umbra: Search African Amercian History" title="Umbra: Search African Amercian History"></a>' +
'  <div class="input-group">' +
'  <div class="form-group">' +
'    <input placeholder="Search Umbra..." class="form-control" type="text" value="">' +
'  </div>' +
'  <span class="input-group-btn">' +
'   <button type="submit" class="btn btn-primary search-btn" id="search" alt="<%= submit_text %>" title="<%= submit_text %>">' +
'     <span class="submit-search-text"><%= submit_text %></span>' +
'      <span class="glyphicon glyphicon-search"></span>' +
'   </button>' +
'  </span>' +
'  </div>' +
'</form>';