%div.col-lg-9.col-md-8.col-sm-8.static-page-content
  %div.page-header
    %h2
      Embeddable Widgets
  %div
    Use the embeddable widgets below to help us spread the word about <em>Umbra Search</em>.
    %br
    %br
  = render 'logo_examples'
  = render 'search_examples'