%div.home-nav-bar
  %ul
    %li
      = raw nav_item('About', 'about', 'about-homenav-link about-link homenav-link')
    %li
      = raw nav_item('Get Involved', 'participate', 'participate-homenav-link participate-link homenav-link')
    %li
      = raw nav_item('Contact Us', 'contact', 'contact-homenav-link contact-link homenav-link')
    %li
      = raw nav_item_static_link "#UmbraSearch", "https://umbrasearchblog.org",  'blog-homenav-link blog-link homenav-link'