<div class="btn-group help btn-group-justified" role="group" aria-label="Help">
  <div class="btn-group" role="group">
    <%= link_to "About", path_for_page('about'), :class => 'btn btn-default btn-nav help-link', :method => 'get' %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "How to Participate", path_for_page('participate'), :class => 'btn btn-default btn-nav help-link', :method => 'get' %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "Contact Us", path_for_page('contact'), :class => 'btn btn-default btn-nav help-link', :method => 'get' %>
  </div>
</div>