%div.home-nav-bar
  %ul
    %li
      = raw nav_item('About <em>Umbra</em>', 'about')
    %li
      = raw nav_item('How to Participate', 'participate')
    %li
      = raw nav_item('Contact Us', 'contact')