<div class="btn-group help btn-group-justified" role="group" aria-label="Help">
  <div class="btn-group" role="group">
    <%= link_to "About", about_path, :class => 'btn btn-default btn-nav', :method => 'get' %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "How to Participate", participate_path, :class => 'btn btn-default btn-nav', :method => 'get' %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "Contact Us", contact_path, :class => 'btn btn-default btn-nav', :method => 'get' %>
  </div>
</div>