 <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs sidebar">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-stacked">
          <%= pages_subnav_options %>
        </ul>
       </div>
    </div>
  </div>

<div class="row hidden-lg hidden-md hidden-sm subnav-dropdown">
    <div class="col-lg-8 col-md-10 col-sm-10">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="about-menu" data-toggle="dropdown" aria-expanded="true">
          More About Umbra
          <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="about-menu">
            <%= pages_subnav_options %>
          </ul>
      </div>
    </div>
  </div>