<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'Contact Us'} do %>

    <p>
      <h4>Email</h4>
      <p><a href="mailto:info@umbrasearch.org">info@umbrasearch.org</a></p>

      <h4>Write</h4>
      <p>Umbra: Search African American History<br />
      213 Elmer L. Andersen Library<br />
      University of Minnesota<br />
      222 21st Avenue South<br />
      Minneapolis, MN 55455<br />
    </p>

    <h4>Call</h4>

    <p>Sarah Carlson at (612) 624-8609 or Cecily Marcus at (612) 624-8812.</p>
  <% end %>
</div>