<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'Contact Us'} do %>

    <p><a href="mailto:help@umbrasearch.org">help@umbrasearch.org</a> <br />
      Umbra: Search African American History<br />
      213 Elmer L. Andersen Library<br />
      University of Minnesota<br />
      222 21st Ave. S.<br />
      Minneapolis MN 55455<p>

  <% end %>
</div>