<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'Copyright'} do %>

   <p><em>Umbra</em> does not own rights to materials displayed on the <em>Umbra</em> site, and makes no warranties of their suitability for any further use. Some of the materials displayed on <em>Umbra</em> may be in the public domain; others have been digitized with the permission of rightsholders or through other arrangements. Use of these materials outside the context of the <em>Umbra</em> project website may or may not be permitted by law, and different use situations will present different legal issues.</p>

  <p>Users are responsible for their own uses of any materials accessed through the <em>Umbra</em> project website. Users who wish to obtain permission for publication, display, or other uses of these materials should contact the Contributing Institution for information about rights ownership and permissions.</p>
  <% end %>
</div>