<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'FAQ'} do %>
    <h4>What is <em>Umbra</em>?</h4>
    <em>Umbra</em> is a digital library that brings together materials documenting African American history and cultural life from archives, libraries, museums, and other US repositories. <em>Umbra</em> features thumbnail images and descriptive information about photographs, manuscripts, documents, books, sound files, video files, and other freely available resources.

    <h4>Where can I find <em>Umbra</em>?</h4>
    The <em>Umbra</em> site is located at <a href="http://umbrasearch.org">umbrasearch.org</a>. We are also developing a widget that can be embedded in any digital environment, allowing users to access <em>Umbra</em> from other sites. You can also find us on social media. Follow along on Twitter <a href="http://twitter.com/umbrasearch">@UmbraSearch</a> and Tumblr at <a href="http://umbrasearch.tumblr.com/">umbrasearch.tumblr.com</a>.

    <h4>Where does <em>Umbra</em> content come from?</h4>
    Materials come from the collections of partner and contributing institutions—libraries, archives, museums, and other repositories that have made parts of their collections available online. <em>Umbra</em> collects thumbnail images and descriptive information that lead <em>Umbra</em> users to view digital materials in a given library/repository’s home online collection. <a href="http://umbrasearch.org/catalog/facet/dataProvider_ssi?limit=100&q=&search_field=all_fields&facet_view=full">Browse a full list of institutions</a> that are contributing materials to <em>Umbra</em> .

    <h4>How can I add content to <em>Umbra</em>?</h4>
    In the future, we hope to develop ways that you can contribute materials digitally, but we aren’t there yet! If you know of a repository or collection that might align with Umbra’s scope, please write to us at <a href="mailto:info@umbrasearch.org">info@umbrasearch.org</a>, and write Content in the subject line.

    <h4>Who are <em>Umbra’s</em> partners?</h4>
    We are pleased to have a large and growing list of partners as contributing institutions (over 500 and counting!). If you would like to partner with Umbra, please email us at <a href="mailto:info@umbrasearch.org">info@umbrasearch.org</a>, and write Partnership in the subject line. <em>Umbra’s</em> founding partners are:
    <ul>
      <li>American Theatre Archive Project</li>
      <li>Amistad Research Center (Tulane University)</li>
      <li>Apollo Theater</li>
      <li>Columbia University</li>
      <li>Digital Public Library of America</li>
      <li>Library of Congress</li>
      <li>New York Public Library Schomburg Center for Research in Black Culture</li>
      <li>New York Public Library for the Performing Arts</li>
      <li>Smithsonian Institution</li>
      <li>Smithsonian National Museum of African American History and Culture</li>
      <li>Theatre Communications Group</li>
      <li>Theatre Library Association</li>
      </ul>


    <h4>Can I share <em>Umbra</em> materials with others?</h4>
    Yes! You will find sharing options in the full-record view of objects. You can share materials via email, or through a suite of social media options—Facebook, Tumblr, Twitter, Pinterest, etc..

    <h4>I found some errors on the site, and/or materials that don’t seem to fit the theme. How do I let you know about them?
    Contact us at <a href="mailto:info@umbrasearch.org">info@umbrasearch.org</a>. If possible, please include links to the specific content or page with which you had difficulty and describe the issue in as much detail as possible.</h4>

    <h4>Who has the copyright?</h4>
    <em>Umbra</em> does not own rights to materials displayed on the <em>Umbra</em> site, and makes no warranties of their suitability for further use. Some of the materials displayed on <em>Umbra</em> may be in the public domain; others have been digitized with the permission of rights holders or through other arrangements. For permission to publish the materials displayed on <em>Umbra</em>, please contact the holding institution for more information.

    Users are responsible for their own uses of any materials accessed through <em>Umbra: Search African American History</em>. Users who wish to obtain permission for publication, display, or other uses of these materials should contact the contributing institution for information about rights ownership and permissions.

  <% end %>
</div>