<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'History: Inspirations & Aspirations'} do %>


    <p><em>Umbra</em> was first conceived of as the "African American Theater History Project." It was inspired by a 2012 partnership between the University of Minnesota Libraries and Penumbra Theatre Company, <a href="https://www.lib.umn.edu/about/ephemeral/">Preserving the Ephemeral: An Archival Program for Theater and the Performing Arts</a>, funded by the Institute of Museum and Library Services.

    <p><em>Preserving the Ephemeral</em> was a collaboration between the University of Minnesota and Penumbra Theatre Company, to bring together librarians and theater professionals to assess the needs of the theater community (theaters of color in particular) in order to create and test an archiving plan that could be scalable to implement in theaters of all sizes. This grant-funded endeavor culminated in two forums, convened  in August and September of 2013, where managing and artistic directors from theater companies across the nation convened to discuss the challenges and importance of theater archives, increase awareness for what an archive is and how it can benefit theaters’ work, and raise issues that apply to all theaters with a focus on why historical/cultural context is of particular importance to theaters of color and how archives are a tool not only to document history, but also to create it. </p>

    <p>In partnership with Penumbra Theatre Company, the University of Minnesota Libraries developed <em>Umbra</em> as a free service to the community as a step toward realizing this goal.</p>

    <h4> Participating Theaters</h4>

    <div class="col-lg-6 col-md-6 col-sm-6 hidden-sm hidden-md hidden-xs">
      <ul>
      <li>2amt, Hanover, IN</li>
      <li>7 Stages, Atlanta, GA</li>
      <li>7 Towers Theatre, Austin, TX</li>
      <li>Active Cultures Theatre, University Park, MD</li>
      <li>African Continuum Theatre Co.*, Washington, DC</li>
      <li>Apollo Theater*, New York, NY</li>
      <li>Arena Stage, Washington, DC</li>
      <li>Bond Street Theatre, New York, NY</li>
      <li>Children's Theatre Company, Minneapolis, MN</li>
      <li>Crossroads Theatre Company*, New Brunswick, NJ</li>
      <li>Cultural Odyssey*, San Francisco, CA</li>
      <li>Eckerd Theater Company, Clearwater, FL</li>
      <li>Frank Theatre, Minneapolis, MN</li>
      <li>Georgia Ensemble Theatre, Roswell, GA</li>
      <li>In the Heart of the Beast Theatre, Minneapolis, MN</li>
      <li>Karamu House*, Cleveland, OH</li>
      <li>Kenny Leon's True Colors Theatre Company*, Atlanta, GA</li>
      <li>Mask and Rose Women's Theater Collective, Puposky, MN</li>
      <li>Minnesota Theater Alliance, Minneapolis, MN</li>
      <li>Miracle Theatre Group, Portland, OR</li>
      <li>Mixed Blood Theatre, Minneapolis, MN</li>
      <li>Mu Performing Arts, St. Paul, MN</li>
      <li>Nautilus Music-Theater, St. Paul, MN</li>
      <li>Oklahoma City Repertory Theatre, Oklahoma City, OK</li>
      <li>On the Boards, Seattle, WA</li>
      <li>Open Eye Figure Theatre, Minneapolis, MN</li>
      </ul>
    </div>

    <div class="col-lg-6 col-md-6 hidden-sm hidden-md hidden-xs">
      <ul>
        <li>Ordway Center for the Performing Arts, St. Paul, MN</li>
        <li>Paper Mill Playhouse, Millburn, NJ</li>
        <li>Penumbra Theatre Company*, St. Paul, MN</li>
        <li>PICT Theatre, Pittsburgh, PA</li>
        <li>Pittsburgh Playwrights Theatre*, Pittsburgh, PA</li>
        <li>Plowshares Theatre Company*, Detroit, MI</li>
        <li>Rites & Reason Theatre*, Providence, RI</li>
        <li>Robey Theatre Company*, Los Angeles, CA</li>
        <li>Roundabout Theatre Company, New York, NY</li>
        <li>Sandbox Theatre, Minneapolis, MN</li>
        <li>Steppenwolf Theatre Company, Chicago, IL</li>
        <li>The Black Rep*, St. Louis, MO</li>
        <li>The Classical Theatre of Harlem*, New York, NY</li>
        <li>The Ensemble Theatre*, Houston, TX</li>
        <li>The TEAM, New York, NY</li>
        <li>The Theater Offensive, Boston, MA</li>
        <li>The Wooster Group, New York, NY</li>
        <li>Theater Grottesco, Santa Fe, NM</li>
        <li>Theatre for a New Audience, New York, NY</li>
        <li>Theater Latte Da, Minneapolis, MN</li>
        <li>Towne Street Theatre*, Los Angeles, CA</li>
        <li>Undermain Theatre, Dallas, TX</li>
        <li>University of Minnesota Department of Theatre Arts and Dance, Minneapolis, MN</li>
        <li>Walking Shadow Theatre Company, Minneapolis, MN</li>
        <li>Woolly Mammoth Theatre Company, Washington, DC</li>
        <li>Writers' Theatre,  Glencoe, IL</li>
      </ul>
    </div>


    <ul class="hidden-lg">
      <li>2amt, Hanover, IN</li>
      <li>7 Stages, Atlanta, GA</li>
      <li>7 Towers Theatre, Austin, TX</li>
      <li>Active Cultures Theatre, University Park, MD</li>
      <li>African Continuum Theatre Co.*, Washington, DC</li>
      <li>Apollo Theater*, New York, NY</li>
      <li>Arena Stage, Washington, DC</li>
      <li>Bond Street Theatre, New York, NY</li>
      <li>Children's Theatre Company, Minneapolis, MN</li>
      <li>Crossroads Theatre Company*, New Brunswick, NJ</li>
      <li>Cultural Odyssey*, San Francisco, CA</li>
      <li>Eckerd Theater Company, Clearwater, FL</li>
      <li>Frank Theatre, Minneapolis, MN</li>
      <li>Georgia Ensemble Theatre, Roswell, GA</li>
      <li>In the Heart of the Beast Theatre, Minneapolis, MN</li>
      <li>Karamu House*, Cleveland, OH</li>
      <li>Kenny Leon's True Colors Theatre Company*, Atlanta, GA</li>
      <li>Mask and Rose Women's Theater Collective, Puposky, MN</li>
      <li>Minnesota Theater Alliance, Minneapolis, MN</li>
      <li>Miracle Theatre Group, Portland, OR</li>
      <li>Mixed Blood Theatre, Minneapolis, MN</li>
      <li>Mu Performing Arts, St. Paul, MN</li>
      <li>Nautilus Music-Theater, St. Paul, MN</li>
      <li>Oklahoma City Repertory Theatre, Oklahoma City, OK</li>
      <li>On the Boards, Seattle, WA</li>
      <li>Open Eye Figure Theatre, Minneapolis, MN</li>
      <li>Ordway Center for the Performing Arts, St. Paul, MN</li>
      <li>Paper Mill Playhouse, Millburn, NJ</li>
      <li>Penumbra Theatre Company*, St. Paul, MN</li>
      <li>PICT Theatre, Pittsburgh, PA</li>
      <li>Pittsburgh Playwrights Theatre*, Pittsburgh, PA</li>
      <li>Plowshares Theatre Company*, Detroit, MI</li>
      <li>Rites & Reason Theatre*, Providence, RI</li>
      <li>Robey Theatre Company*, Los Angeles, CA</li>
      <li>Roundabout Theatre Company, New York, NY</li>
      <li>Sandbox Theatre, Minneapolis, MN</li>
      <li>Steppenwolf Theatre Company, Chicago, IL</li>
      <li>The Black Rep*, St. Louis, MO</li>
      <li>The Classical Theatre of Harlem*, New York, NY</li>
      <li>The Ensemble Theatre*, Houston, TX</li>
      <li>The TEAM, New York, NY</li>
      <li>The Theater Offensive, Boston, MA</li>
      <li>The Wooster Group, New York, NY</li>
      <li>Theater Grottesco, Santa Fe, NM</li>
      <li>Theatre for a New Audience, New York, NY</li>
      <li>Theater Latte Da, Minneapolis, MN</li>
      <li>Towne Street Theatre*, Los Angeles, CA</li>
      <li>Undermain Theatre, Dallas, TX</li>
      <li>University of Minnesota Department of Theatre Arts and Dance, Minneapolis, MN</li>
      <li>Walking Shadow Theatre Company, Minneapolis, MN</li>
      <li>Woolly Mammoth Theatre Company, Washington, DC</li>
      <li>Writers' Theatre,  Glencoe, IL</li>
    </ul>

<p><em><strong>*African American Theaters</em></strong></p>

  <% end %>
</div>