<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'Inspirations and Aspirations'} do %>

    <p><em>Umbra</em> was inspired by work begun in 2012 with <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.lib.umn.edu%2Fabout%2Fephemeral%2F&sa=D&sntz=1&usg=AFQjCNHwl61yyiVmq7NKmwNaJWgpbe1jCA">Preserving the Ephemeral: An Archival Program for Theater and the Performing Arts</a>, and originally conceived as <em>The African American Theater History Project.</em></p>

    <p><em>Preserving the Ephemeral</em> was a collaboration between the University of Minnesota and Penumbra Theatre Company, to bring together librarians and theater professionals to assess the needs of the theater community (theaters of color in particular) in order to create and test an archiving plan that could be scalable to implement in theaters of all sizes. This grant-funded endeavor culminated in two forums, convened  in August and September of 2013, where managing and artistic directors from theater companies across the nation convened to discuss the challenges and importance of theater archives, increase awareness for what an archive is and how it can benefit theaters’ work, and raise issues that apply to all theaters with a focus on why historical/cultural context is of particular importance to theaters of color and how archives are a tool not only to document history, but also to create it. </p>

    <p>In partnership with Penumbra Theatre Company, the University of Minnesota Libraries developed <em>Umbra</em> as a free service to the community as a step toward realizing this goal.</p>


  <% end %>
</div>