<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'Inspirations'} do %>
    <h4>How did this idea come to be?</h4>

    <p><em>Umbra: Search African American History</em> is a response to a project dedicated to understanding the role of theater archives in documenting history. However, the scope of <em>Umbra</em> immediately goes far beyond theater and the performing arts. It seeks to bring together the historical artifacts and documents that represent the full depth and breadth of the African American experience—its people, places, ideas, events, movements, and inspirations. It is our hope that this rich history will find new life and form in theater, literature, works of art, journalism, scholarship, teaching curricula, and much more.</p>

    <p>Umbra is inspired by work begun in 2012 with <em><a href="https://www.lib.umn.edu/about/ephemeral/">Preserving the Ephemeral: An Archival Program for Theater and the Performing Arts</a></em>, and was originally conceived as <em>The African American Theater History Project</em>. With funding from the Institute of Museum and Library Services, <em>Preserving the Ephemeral</em> was a collaboration between the University of Minnesota and Penumbra Theatre Company to assess the needs of the theater community, and theaters of color in particular, around questions of archives and historical legacy. Over 300 theater representatives responded to a national survey in partnership with American Theatre Archive Project, and artistic directors and founders from over 60 theaters around the country participated in forums convened to discuss the challenges and heightened importance of archives for culturally specific companies.</p>

  <% end %>
</div>