<div class="static-page">


  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'How to Participate'} do %>

     <iframe src="https://docs.google.com/forms/d/1-kyZ3i8JDv4ICTq4ZqpJvXl_w11LxsswQmA3OINgXWg/viewform?embedded=true#start=embed" width="760" height="1750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

   <ul class="content-list">
    <li>...or write us an email! <em>Umbra</em> brings together openly available digital materials that document African American history and culture. If you have (or know about) materials and/or collections that could be part of Umbra, please write to us at <a href="mailto:info@umbrasearch.org">info@umbrasearch.org</a>.</li>
    <li>In the future, we hope to develop ways to contribute materials digitally, but we aren’t there yet!</li>
  <% end %>
</div>