<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'How to Participate'} do %>
   <ul class="content-list">
    <li><a href="https://docs.google.com/forms/d/1-kyZ3i8JDv4ICTq4ZqpJvXl_w11LxsswQmA3OINgXWg/viewform">Become a Beta Tester!</a></li>
    <li><em>Umbra</em> brings together openly available digital materials that document African American history and culture. If you have (or know about) materials and/or collections that could be part of Umbra, please write to us at <a href="mailto:help@umbrasearch.org">help@umbrasearch.org</a>.</li>
    <li>In the future, we hope to develop ways to contibute materials digitally, but we aren’t there yet!</li>
  <% end %>
</div>