<div class="static-page">


  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'Partners'} do %>

    <h4>Who are Umbra’s partners?</h4>

    <p>We are pleased to have a large and growing list of partners as <a href="http://umbrasearch.org/catalog/facet/dataProvider_ssi?limit=100&q=&search_field=all_fields&facet_view=full">contributing institutions</a> (over 500 and counting!). If you would like to partner with Umbra, please email us at <a href="mailto:info@umbrasearch.org">info@umbrasearch.org</a>, and write Partnership in the subject line.</p>

    <ul>
      <li><a href="http://americantheatrearchiveproject.org/">American Theatre Archive Project</a></li>
      <li><a href="http://www.amistadresearchcenter.org/">Amistad Research Center (Tulane University)</a></li>
      <li><a href="https://www.apollotheater.org/">Apollo Theater</a></li>
      <li><a href="http://www.columbia.edu/">Columbia University</a></li>
      <li><a href="http://dp.la/">Digital Public Library of America</a></li>
      <li><a href="http://www.loc.gov/">Library of Congress</a></li>
      <li><a href="http://nmaahc.si.edu/">National Museum of African American History and Culture</a></li>
      <li><a href="http://www.nypl.org/locations/schomburg">New York Public Library Schomburg Research Center for Black Culture, Library for the Performing Arts</a></li>
      <li><a href="http://www.penumbratheatre.org">Penumbra Theatre Company</a></li>
      <li><a href="http://www.si.edu/">Smithsonian Institution</a></li>
      <li><a href="http://www.tcg.org/">Theatre Communications Group</a></li>
      <li><a href="http://www.tla-online.org/">Theatre Library Association</a></li>
    </ul>

  <% end %>
</div>

