<div class="static-page">


  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'How to Participate'} do %>

    <h4>I WANT TO PARTICIPATE!</h4>
      <ul>
      <li><strong><a href="https://docs.google.com/a/umn.edu/forms/d/1-kyZ3i8JDv4ICTq4ZqpJvXl_w11LxsswQmA3OINgXWg/viewform">Be a Beta Tester!</a></strong> Sign up to share your thoughts. When changes are made to the <em>Umbra</em> site, we’ll send you a brief online survey for you to tell us how it’s working and what can be improved.</li>
      <li><strong>OR just give us your feedback!</strong> Tell us what you like or don’t like, or share some ideas at <a href="mailto:info@umbrasearch.org">info@umbrasearch.org</a>. We want this tool to work hard for you, so every comment is valuable.</li>
      <li><strong>Help us find materials!</strong> If you have (or know about) materials and/or collections that could be part of Umbra, please write to us at <a href="mailto:info@umbrasearch.org">info@umbrasearch.org</a>. In the future, we hope to develop ways to contribute materials digitally, but we aren’t there yet!</li>
      <li><strong>Engage!</strong> Join us for lectures, symposia, and other public events throughout 2016. Follow <em>Umbra</em>for news and updates on Twitter <a href="http://twitter.com/umbrasearch">@UmbraSearch</a> and Tumblr at <a href="http://umbrasearch.tumblr.com/">umbrasearch.tumblr.com</a> or <a href="http://www.google.com/url?q=http%3A%2F%2Feepurl.com%2FbvKUWD&sa=D&sntz=1&usg=AFQjCNGRAbihAur1mOKTMkMEqmO_m5ywtA">sign up for notices</a>.</li>
  <% end %>
</div>