<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'People'} do %>

  <h4>The people who are creating and nurturing <em>Umbra</em> are:</h4>

  <ul>
    <li><a href="https://www.lib.umn.edu/about/staff/cecily-marcus">Cecily Marcus</a>, Principal Investigator, Givens Collection of African American Literature Curator, University of Minnesota Libraries</li>
    <li><a href="http://penumbratheatre.org/content/blogcategory/7/52/">Chris Widdess</a>, Project Lead, Penumbra Theatre Company</li>
    <li><a href="mailto:carl4256@umn.edu">Sarah Carlson</a>, Project Manager, University of Minnesota Libraries</li>
    <li><a href="https://www.lib.umn.edu/about/staff/jason-roy">Jason Roy</a>, Digital Library Services Director, University of Minnesota Libraries</li>
    <li><a href="https://www.lib.umn.edu/about/staff/chad-fennell">Chad Fennell</a>, Applications Developer, University of Minnesota Libraries</li>
    <li>Tia Gardner,  Givens Graduate Fellow, University of Minnesota Libraries</li>
    <li>Monika Hetzler, #MyUmbraSearch curator/student liaison, University of Minnesota Libraries</li>
    <li>Elena Carrillo, Project Manager/Content Lead (2014-2015)</li>
    <li>Delaney Churchwell (2014)</li>
  </ul>


    <h4>Who are the institutions behind <em>Umbra</em>?</h4>
    <p><em>Umbra</em> is developed by the Givens Collection of African American Literature at the University of Minnesota in partnership with the Penumbra Theatre Company.</p>

    <p>Established in 1986, the <a href="https://www.lib.umn.edu/scrbm/givens">Archie Givens, Sr. Collection of African American Literature</a> at the University of Minnesota Libraries contains over 10,000 books, magazines, and pamphlets by or about African Americans. From Phillis Wheatley’s seminal 1773 <em>Poems on Various Subjects Religious and Moral</em> to Minnesota hip-hop, the Givens Collection has particular strength in the areas of the Harlem Renaissance and the Black Arts Movement. It also holds a significant number of materials that relate to African American education, social sciences, journalism, arts, sports, and entertainment, including the Penumbra Theatre Company archives and the Lou Bellamy Rare Book Collection, which contains over 850 titles including the self-published <em>Narrative of Sojourner Truth</em> and other books that predate the Emancipation Proclamation.</p>

    <p>The Givens Collection is located at the Elmer L. Andersen Library in Minneapolis, MN, and is open to the public.</p>

    <p>Lou Bellamy founded <a href="http://penumbratheatre.org/">Penumbra Theatre Company</a> in 1976 to create art that roars with authenticity through the rich and unrestrained voices of black playwrights and artists. The powerful and unapologetic representation of the African American experience defines Penumbra’s art, driving its education programs to provide rigorous scholarship while creating an entry point for everyone. Penumbra’s ultimate goal is to engage audiences in dialogue and action around issues of racism and equity, and renewing our sense of shared responsibility in building healthy, vibrant communities. Penumbra has achieved national recognition for its high quality productions; groundbreaking educational programs and collaborations; the development of new work and launching the career of many artists including two-time Pulitzer Prize winner August Wilson; and for opening avenues to include and celebrate the black experience as part of the American narrative. Penumbra’s Co-Artistic Directors are Lou Bellamy and Sarah Bellamy.</p>


  <% end %>
</div>