<div class="static-page">

  <%= render partial: 'subnav' %>

  <%= render layout: "content", :locals => {:title => 'Team'} do %>

  <ul>
    <li><a href="https://www.lib.umn.edu/about/staff/cecily-marcus">Cecily Marcus</a>, Principal Investigator, University of Minnesota Libraries</li>
    <li><a href="http://penumbratheatre.org/content/blogcategory/7/52/">Chris Widdess</a>, Project Lead, Penumbra Theatre Company</li>
    <li><a href="https://www.lib.umn.edu/about/staff/jason-roy">Jason Roy</a>, Digital Library Services Director, University of Minnesota Libraries</li>
    <li><a href="https://www.lib.umn.edu/about/staff/chad-fennell">Chad Fennell</a>, Programmer, University of Minnesota Libraries</li>
    <li><a href="https://www.lib.umn.edu/about/staff/elena-carrillo">Elena Carrillo</a>, Project Manager/Content Lead, University of Minnesota Libraries</li>
    <li>Tia Gardner, University of Minnesota Libraries</li>
    <li>Sarah Carlson, University of Minnesota Libraries</li>
    <li>Delany Churchwell, University of Minnesota Libraries</li>
  </ul>

  <% end %>
</div>