<% # container for all documents in gallery view -%>
<div id="documents" class="gallery">
  <%= render partial: 'document', collection: docs, :as => :document, locals: { description: document_gallery.description } %>
</div>
