 <div class="panel">
   <div class="panel-heading">
      <h2 class="panel-title">Explore.</h2>
    </div>
    <div class="panel-body">
      <div class="col-sm-2 col-md-3">
        <div class="thumbnail">
          <%= link_to(url_for(action:'index', "f[sourceResource_type_s][]"=>"text")) do %>
            <span class="icon-search icon-doc-text"></span>
          <% end %>
        <h3>Text</h3>
        </div>
      </div>
      <div class="col-sm-2 col-md-3">
        <div class="thumbnail">
          <%= link_to(url_for(action:'index', "f[sourceResource_type_s][]"=>"image")) do %>
            <span class="icon-search icon-picture"></span>
          <% end %>
          <h3>Image</h3>
        </div>
      </div>
      <div class="col-sm-2 col-md-3">
        <div class="thumbnail">
          <%= link_to(url_for(action:'index', "f[sourceResource_type_s][]"=>"video")) do %>
            <span class="icon-search icon-video"></span>
          <% end %>
        <h3>Video</h3>
        </div>
      </div>
      <div class="col-sm-2 col-md-3">
        <div class="thumbnail">
          <%= link_to(url_for(action:'index', "f[sourceResource_type_s][]"=>"sound")) do %>
            <span class="icon-search icon-headphones"></span>
          <% end %>
          <h3>Sound</h3>
        </div>
      </div>
    </div>
  </div>