.cover-image= render_thumbnail_tag(document)
.info
  %h5.index_title.col-sm-9.col-lg-10
    - counter = document_counter_with_offset(document_counter)
    = link_to_document document, :counter => counter, :label=> Proc.new { truncate(document.fetch(document_show_link_field(document)), length: 75) }
