<% if document.img %>
  <a class="pinit-large" href="//www.pinterest.com/pin/create/button/?url=<%= CGI.escape "#{request.domain}#{search_catalog_path(document)}" %>&media=<%= CGI.escape document.img %>&description=<%= CGI.escape document.display_title  %>" data-pin-do="buttonPin" data-pin-shape="round" data-pin-height="32"><img alt="Pinterest logo" src="https://assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_32.png" /></a>
<% end %>
