
<script type="text/javascript">
  $(document).ready(function() {
    var example_search = "<%= params['example-search'] %>";
    if (example_search != '') {
      var tour = new Tour({name: example_search});
      switch (example_search) {
        case "phrase-search":;
          tour.addSteps([
            {
              backdrop: true,
              element: ".search-query-form input[type=text]",
              content: "Placing double quotes around phrases narrows search results to items containing this phrase."
            },
            {
              backdrop: true,
              element: ".search-query-form .input-group-addon",
              content: "Notice that we have searched All Fields (Subject, Title, etc) for the phrase \"jazz Muscicians\"."
            }
          ]);
        break;
          case "search-with-facet-video":
          tour.addSteps([
            {
              backdrop: true,
              element: "#search",
              backdropContainer: "#content",
              content: "Placing double quotes around phrases narrows search results to items containing this phrase. <em>Click Next</em> to find out how to limit"
            },
            {
              element: "#facet-sourceresource_type_ssi .icon-video",
              content: "Links in these boxes on the left-hand side of the page limit search results. Here, we have limited our search to <strong>Video only</strong>."
            },
            {
              element: "#documents .icon-video:first",
              content: "Search result items are labeled to indicate what type of record they are."
            },
            {
              element: "#facet-sourceresource_type_ssi .remove",
              content: "Click the <span class=\"glyphicon glyphicon-remove\"></span><span class=\"sr-only\">[remove]</span> link to undo limiting to Video."
            },
          ]);
        break;
          case "search-with-facet-subject":
          tour.addSteps([
            {
              backdrop: true,
              element: "#search",
              backdropContainer: "#content",
              content: "Placing double quotes around phrases narrows search results to items containing this phrase. <em>Click Next</em> to find out how to limit"
            },
            {
              element: ".blacklight-keywords_ssim .facet-label .selected",
              content: "Links in these boxes on the left-hand side of the page limit search results. Here, we have limited our search to the Keyword <strong>\"Alvin Ailey American Dance Theater\"</strong>."
            }
          ]);
        break;
          case "operator-search":
          tour.addSteps([
            {
              backdrop: true,
              element: ".search-query-form input[type=text]",
              content: "Use the \"+\" sign before a word or phrase <strong>to require it</strong> in search results. Use a \"-\" sign <strong>to exclude it</strong>. (Be sure that the symbols are placed directly next to the corresponding words)"
            },
          ]);
        break;
      }
      // Initialize the tour
      tour.init();

      // Start the tour
      tour.start();

    }
    else {
      var tour = new Tour();
      tour.init();
            // Start the tour
      tour.restart();
    }
  });
</script>