
<script type="text/javascript">
  $(document).ready(function() {
    var example_search = "<%= params['example-search'] %>";
    if (example_search != '') {
      var tour = new Tour({name: example_search});
      switch (example_search) {
        case "phrase-search":;
          tour.addSteps([
            {
              element: ".search-query-form input[type=text]",
              content: "Placing double quotes around phrases narrows search results to items containing this phrase."
            },
            {
              element: "#search_field",
              content: "Notice that we have searched All Fields (Subject, Title, etc) for the phrase \"Jazz Muscicians\"."
            }
          ]);
        break;
          case "phrase-search-keywords":
          $("#search_field").change(function() {
            var search_field = $( "#search_field option:selected" ).text();
            if (search_field == 'Keyword') {
              tour.next();
            }
          });
          tour.addSteps([
            {
              element: "#search_field",
              content: "Select the <strong>\"Keyword\"</strong> option."
            },
            {
              element: "#search",
              content: "Click the <span class=\"glyphicon glyphicon-search\"></span> (search button) to see records with the phrase <strong>\"Jazz Muscicians\"</strong> in their <strong>keywords</strong>"
            }
          ]);
        break;
          case "search-with-facet":
          tour.addSteps([
            {
              element: "#facet-sourceresource_type_ssi .icon-headphones",
              content: "Links in these boxes on the left-hand side of the page limit search results. Here, we have limited a search for the word <strong>Jazz</strong> to Sound records only."
            },
            {
              element: "#documents .icon-headphones:first",
              content: "Search result items are labeled to indicate what type of thing they are. "
            },
            {
              element: "#facet-sourceresource_type_ssi .remove",
              content: "Click the <span class=\"glyphicon glyphicon-remove\"></span><span class=\"sr-only\">[remove]</span> link to undo limiting to sound."
            },
          ]);
        break;
          case "operator-search":
          tour.addSteps([
            {
              element: ".search-query-form input[type=text]",
              content: "Use the \"+\" sign before a word or phrase to require it in search results. Use a \"-\" sign to exclude it. <strong>Note:</strong> be sure that the symbols are placed next to the corresponding word or phrase with no spaces in between the symbol and word or phrase."
            },
          ]);
        break;
      }
      // Initialize the tour
      tour.init();

      // Start the tour
      tour.start();

    }
    else {
      var tour = new Tour();
      tour.init();
            // Start the tour
      tour.restart();
    }
  });
</script>