%div.modal.fade{"id" => "share-modal-sm", "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "sharelabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss" => "modal"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4.modal-title{"id" => "sharelabel"} Share
      %div.modal-body
        %div.social-button.col-sm-2
          %a.twitter-share-button.social-button{"href" =>"https://twitter.com/share", "data-hashtags" => "blackhistory", "data-via" => "UmbraSearch"} Tweet
        %div.fb-root
        %div.fb-share-button.social-button.col-sm-2{"data-href" => "http://umbrasearch.org/catalog/#{id}", "data-width" => "100", "data-layout" => "button_count"}
        %div.social-button.col-sm-2
          %script{:type => "text/javascript", :src  => "https://apis.google.com/js/platform.js"}
          %div.g-plus{"data-action" => "share", "data-annotation" => "bubble", "data-height" => "20"}
        %div{"style" => "clear:both"}