%ul.nav.navbar-nav.show_tools
  %li
    %div.btn-group
      %button.btn.btn-default.navbar-btn Save
      - if (@document.respond_to?(:export_as_mla_citation_txt) || @document.respond_to?(:export_as_apa_citation_txt))
        %button.btn.btn-default.navbar-btn= link_to t('blacklight.tools.cite'), citation_catalog_path(:id => @document), {:id => 'citeLink', :data => {:ajax_modal => "trigger"}}
      - if @document.respond_to?( :to_email_text )
        %button.btn.btn-default.navbar-btn= link_to t('blacklight.tools.email'), email_catalog_path(:id => @document), {:id => 'emailLink', :data => {:ajax_modal => "trigger"}}
      %button.btn.btn-default.navbar-btn{"data-toggle" => "modal", "data-target" => "#share-modal-sm"}
        %a Share