- if url
  %span.view-original
    %a.btn.btn-default.btn-lg.btn-primary.view-original-search{href:url, target: '_blank', 'data-document-id' => document_id, 'data-context' => context}
      .glyphicon.glyphicon-new-window
      View
    - if document_index_view_type == :list
      %span.data-provider.metadata-field
        = raw view_original_provider_search