- if url
  %a.btn.btn-default.btn-lg.btn-primary{href:url, target: '_blank'}
    View Original
    - if document_index_view_type == :list
      = view_original_provider
    .glyphicon.glyphicon-new-window