<% if has_search_parameters? %>
  <div id="sidebar" class="col-md-3 col-sm-5">
    <%= render 'search_sidebar' %>
  </div>
  <div id="content" class="col-md-9 col-sm-7">
  <div class="row">
    <div class="alert alert-warning">Notice: In <em>Umbra</em>'s beta phase, we are working with a sample test collection of records.</div>
  </div>
      <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>
    <%= render 'search_results' %>
  </div>
</div>
<% end %>