%div#featured.col-sm-12.col-centered
  %div.featured-content-widgets
    %div.row
      %div.col-md-12
        %h3
          Get Started
        - example_searches_with_counts.each do |search|
          %a{href: search.url }
            %div#get-started.col-centered
              %div.example-search{style: "background-image: url('#{search.thumbnail}');"}
                %div.content
                  %div.title
                    = search.title
                  %div.item-count
                    = search.items_found
                  %div.glyphicon.glyphicon-new-window
                  %div.overlay

        %div.col-md-12.news
          %h3
            Discover and Share with #UmbraSearch
          - published_featured.each do |featured_content|
            = render 'featured_contents/show_compact', featured_content: featured_content