- if has_featured_content?
  %h2
    Featured on
    %em
      Umbra
  %div#featured.col-sm-9.col-centered
    %div.featured-content-widgets
      %div.row
        %div.col-md-6
          %h3
            \#UmbraSearch
          - published_blog.each do |featured_content|
            = render 'featured_contents/show_compact', featured_content: featured_content
        %div.col-md-6
          %h3
            News & Events
          - published_news.each do |featured_content|
            = render 'featured_contents/show_compact', featured_content: featured_content