%a{href: featured_content.url }
  %div.feature-box{style: "background-image: url('#{featured_content.preview_image.url}');"}
    %div.content
      %div.title
        = link_to featured_content.title, featured_content.url, target: '_blank'
      %div.glyphicon.glyphicon-new-window
      %div.overlay