@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';

@import 'aath';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.navbar-inverse {
     border-radius: 0;
     background-color: #fff;
     border-color: #ccc;
     background-image: image-url("otis_redding.png"); background-repeat:repeat;
 }

.navbar-inverse h3 {
  letter-spacing: 25px;
}

.navbar-inverse h3 a,
#user-util-collapse a {
    color: #DDDDDD;
}

.navbar-inverse h3 a:hover,
#user-util-collapse a:hover {
    color: #FEFEFE;
    text-decoration: none;
}

.navbar-default {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
}

.tagline {
  font-weight: bold;
  color: #DDDDDD;
  font-style: italic;
}

.input-group-btn.home {
    border-bottom-left-radius: 10;
}

/* Background pattern from subtlepatterns.com */
body {
    background-image: image-url("billie_holiday.png"); background-repeat:repeat;
}

.get-started {
    font-size: 3em;
    margin: 1.2em;
}

#main-container {
    background-color: #FEFEFE;
    @include border-radius(10px);
    padding: 40px;
}

#sortAndPerPage {
    padding-top: 10px;
}

.home-panel {
    border: none;
}

.document-thumbnail {
    height:200px;
    width: 200px;
    text-align: right;
}

.document-thumbnail img {
  max-width: 100%;
  max-height: 100%;
}

.document-thumbnail.glyphs {
  font-size: 4em;
}

.show-thumbnail {
  text-align: center;
}

.dl-horizontal dd {
    margin-left: 0;
}

.top-panel-heading.panel-heading {
    padding: 0;
}

.home-panel .icon-search {
    font-size: 4em;
}

.home-panel .thumbnail {
    border: none;
}

.home-panel .thumbnail h3 {
    padding-left: 10px;
}

.home-panel {
    text-align: center;
}

.home-panel h2 {
    text-align: left;
    font-weight: bold;
    padding-left: 2em;
    color: #A2A2A2;
    font-size: 2em;
}

.blacklight-description {
  margin: 0 0 0 160px;
}

.blacklight-subjects ul {
  margin: -3px 0 0 120px;
  list-style: none;
}

.blacklight-subjects li,
.blacklight-subjects li a {
  line-height: 2;
  display: block;
  width: 100%;
  text-decoration: none;
}

.blacklight-subjects li {
  border-radius: 4px;
}

.blacklight-subjects li:hover {
  background-color: #eee;
}

.blacklight-subjects .nav > li > a {
  padding-left: -10px;
}

.show-thumbnail .btn {
  margin-top: 10px;
}