#folder-tools {
  margin-top: 12px;
  margin-left: 5px;
}

li.signup {
  text-align: center
}

#exhibits-menu .signup-label {
  font-size: 1em;
}

.exhibit-label {
  padding-left: 10px;
}

#exhibits-menu .btn {
  margin: 10px;
}

.folder-view .primary-actions {
  float: none !important;
  margin: 15px 0 15px;
}