
@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';

@import 'blacklight_folders/blacklight_folders';@import 'aath';


$grid-float-breakpoint: 992px;

#primary-nav {
  margin-top: 25px;
}

.search-query-form .search-btn {
  background-color: #EE6D4F;
}

.search-query-form .search-btn:hover {
  background-color: #D86348;
}

.navbar {
  min-height: 100px;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.navbar-inverse {
  background-color: #102826;
}

.navbar-inverse h3 {
  letter-spacing: 25px;
}

.navbar-inverse h3 a,
#user-util-collapse a,
.authentication-info a {
    color: #DDDDDD;
}

.navbar-inverse h3 a:hover,
#user-util-collapse a:hover,
.authentication-info a:hover {
    color: #FEFEFE;
    text-decoration: none;
}

.navbar-default {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
}

.tagline {
  font-weight: bold;
  color: #DDDDDD;
  font-style: italic;
}

.get-started {
    font-size: 3em;
    margin: 1.2em;
}

#main-container {
    background-color: #FEFEFE;
    @include border-radius(10px);
    padding: 40px;
}

#sortAndPerPage {
    padding-top: 10px;
}

.document-thumbnail {
  height:200px;
  width: 200px;
  text-align: top left;
}

.document-thumbnail img {
  max-width:  100%;
  max-height: 100%;
}

.document-thumbnail.show-thumbnail img {
  max-width:  200px;
  max-height: 200px;
}

.document-thumbnail.show-thumbnail {
 width: 200px;
 height: 210px;
}

.document-thumbnail.glyphs {
  font-size: 4em;
}

.show-thumbnail {
  text-align: center;
}

.dl-horizontal dd {
    margin-left: 0;
}

.top-panel-heading.panel-heading {
    padding: 0;
}

.blacklight-show-text-section {
  margin: 0 0 0 160px;
}

.blacklight-link-list ul {
  margin: -3px 0 0 120px;
  list-style: none;
}

.blacklight-link-list li,
.blacklight-link-list li a {
  line-height: 2;
  width: 100%;
}

.blacklight-link-list li {
  border-radius: 4px;
}

.blacklight-link-list li:hover {

}

.blacklight-link-list .nav > li > a {
  padding-left: -10px;
}

.show-thumbnail .btn {
  margin-top: 5px;
}

.gallery-glyphs {
  text-align: center;
  margin-left: -15px;
  font-size: 7em;
}


.blacklight-folders .gallery .document {
  height: auto;
}

#documents .document {
  border: 0;
}

.blacklight-folders .document-thumbnail {
  float: none;
}

.folder-gallery-item {
  width: 200px;
  min-height: 300px;
  background-color: #F6F6F6;
  padding-top: 15px;
  margin: 5px;
  @include border-radius(5px);
}

.folder-gallery-item .folder-item-title,
.folder-gallery-item .folder-item-description {
  padding: 0 15px 0 15px;
}

.folder-gallery-item .description {
  min-height: 100px;
}

.thumb-tiny {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.thumb-large {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.avatar-preview,
.avatar-preview a div {
  text-align: center;
  width: 230px
}

.avatar-empty {
  border: 5px solid #ccc;
  height: 175px;
  font-size: 1.5em;
  padding: 1em;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.avatar-empty .glyphicon-camera {
  font-size: 3.5em;
}

.field_with_errors input{
  border: 5px solid red;
}

.avatar-actions {
  margin-bottom: 15px;
}

.actions-col {
  text-align: center;
}

.update-protected {
  text-align: center
}

.update-protected div {
  text-align: left;
}

.user-profile-info {
  text-align: center;
}

.avatar-actions .btn {
  margin-bottom: 10px;
}

.account-settings {
  margin-top: 15px;
}

.navbar-primary {
  z-index: 2;
}

.navbar-secondary .navbar-static-top {
  z-index: 1;
}

#user_biography {
  width: 95%;
  min-height: 100px;
}

.static-page {
  min-height: 400px;
}