// Place all the styles related to the featured_contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blacklight-featured_contents-index {
  img {
    max-height: 200px;
    max-width: 200px;
  }
}

#featured {
  vertical-align: top;
  text-align: center;
  h2 {
    color: #ffffff;
  }

  h3 {
    font-size: 1.8em;
    font-weight: bold;
    color: #DC6F45;;
  }
}

.featured-contents {
  margin-bottom: 25px;
}

.featured-content {
  vertical-align: top;
  margin-bottom: 25px;
  height: 250px;
  width: 250px;
  img {
    vertical-align: bottom;
    max-height: 200px;
    max-width: 200px;
  }
  h4  {
    text-align: center;
    font-size: 1em;
    color: #9d9d9d;
  }
  display: inline-block;

  h4 a {
    color: #ffffff;
    font-size: 1.5em;
    vertical-align: top;
  }
}

