// Place all the styles related to the featured_contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feature-boxes {
  a {
    color: #ffffff;
  }
  font-size: 1.1em;
  vertical-align: top;
  .feature-box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 10px 10px;
    .glyphicon-new-window {
      font-size: 1.25em;
      position: relative;
      z-index: 10;
    }
    .item-count {
      margin: 10px 0 15px;
      position: relative;
      z-index: 10;
    }
    .title:hover {
      text-decoration: underline;
    }
    .title {
      border-bottom: 1px solid #ffffff;
      margin: 25px 15px 5px 15px;
      font-weight: bold;
      position: relative;
      z-index: 10;
      height: 65px;
      vertical-align: bottom;
    }
  }

  .content {
    border: 1px solid red;
    height: 100%;
    width: 100%;
    position: relative;
  }
}

