// Place all the styles related to the featured_contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blacklight-featured_contents-index {
  img {
    max-height: 200px;
    max-width: 200px;
  }
}

#featured {
  vertical-align: top;
  padding-bottom: 20px;
  clear: both;
  h2 {
    color: #ffffff;
  }

  h3 {
    font-size: 1.8em;
  }
}

.featured-content {
  vertical-align: top;
  margin: 15px 25px;
  height: 250px;
  width: 200px;
  img {
    vertical-align: bottom;
    max-height: 200px;
    max-width: 200px;
  }
  h4  {
    text-align: center;
    font-size: 1em;
    color: #9d9d9d;
    min-height: 75px;
    padding: 10px 5px 0 5px;
  }
  display: inline-block;

  h4 a {
    font-size: 1.2em;
    vertical-align: top;
  }
}

