// Place all the styles related to the flag controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flag-vote .btn {
  margin-bottom: 10px;
}

.flag-vote.flagged {
  .flag { display: none; }
  .unflag { display: inline-block; }
}

.flag-vote.unflagged {
  .flag { display: inline-block; }
  .unflag { display: none; }
}

