// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.featured-image-title {
  float: right;
  padding-right: 15px;
  margin-top: -90px;
  a {
    color: #FFFFFF;
  }
}

.featured-widgets {
  vertical-align: top;
  text-align: center;
  .row {
    margin-bottom: 10px;
  }
}

.featured-widget {
  padding: 5px;
  display: inline-block;
}

.blacklight-pages-home {
  #top, #left, #right {
    background: #e76e51;
    z-index: 1;
    position: fixed;
    }
    #left, #right {
      top: 0; bottom: 0;
      width: 10px;
      }
      #left { left: 0; }
      #right { right: 0; }

    #top {
      left: 0; right: 0;
      height: 10px;
      }
    #top { top: 0; }

  #main-container {
    padding: 0 !important;
    margin: 0;
  }

  #main-content {
    margin-top: 0;
  }

  .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
  }
}

.input-group-btn.home {
    border-bottom-left-radius: 10;
}

body.blacklight-pages-home {
  background-color: #102826;
}

#home-search {

  .search-actions {
    text-align: center;
  }

  .btn-group  {
    .btn-nav {
      border-radius: 0;
    }
  }

  max-width: 600px;
  padding: 0;

  .record-count {
    color: #1B5958;
  }

  .search-query-form {
    .input-group {
      #q {
        width: 400px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
    }
  }
}

.tagline {
  padding: 15px;
  color: #747474;
  font-size: 1.5em;
  width: 100%;
  font-weight: normal;
  text-align: center;
}

#home-search .help {
  border: none;
}

#home-search .help .btn-nav:hover {
  opacity: 0.90;
}

#home-search .btn-default.btn-nav{
  color: #FCFCFC;
  border-bottom: none;
  line-height: 1em;
  margin-top: 10px;
  opacity: 0.75;
}

#home-search .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-right: none;
}

#home-search .btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child {
  border-left: none;
}

#home-search .search-query-form {
  padding-right: 0;
}

#home-search-logo {
  margin-top: 100px;
  width: 100%;
  background-image: asset_url('rev-UmbraMark-small.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100px;
}

#home-search .input-group-addon {
  display: none;
}

#home-search-slogan h1 {
  margin: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  color: #FFFFFF;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

.home-panel-skin {
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
}

.home-panel  {
    border: 0;
    margin: 0;
    padding: 0;
    min-height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    text-align: center;
    h2 {
      text-align: left;
      font-weight: bold;
      padding-left: 2em;
      color: #A2A2A2;
      font-size: 2em;
    }


    .thumbnail {
      border: none;
    }

    .thumbnail h3 {
        padding-left: 10px;
    }
}

    .navbar-nav .umbra-about-slug {
      display: none;
    }

.home-panel .icon-search,
.blacklight-catalog-show .icon-search {
    font-size: 4em;
}

@media (max-width: 600px) {
  .home-image-info .text {
    width: 400px;
  }
}

@media (min-width: 100px) and (max-width: 389px) {
  .featured-image-title {
    margin-top: -145px;
  }
}

@media (min-width: 389px) and (max-width: 727px) {
  .featured-image-title {
    margin-top: -115px;
  }
}
@media (min-width: 100px) and (max-width: 767px) {
  .home-panel-skin {
    height: 300px;
  }
}

@media (min-width: 100px) and (max-width: 1024px) {
  .featured-content-widgets {
    text-align: center;
  }
}


@media (min-width: 600px) and (max-width: 768px) {
  .home-image-info .text {
    width: 550px;
  }
}

@media (min-width: 1000px) and (max-width: 1366px) {
  .home-image-info .text {
    width: 1000px;
  }
}

@media (min-width: 1366px) and (max-width: 1680px) {
  .home-image-info .text {
    width: 1300px;
  }
}

@media (min-width: 1680px) and (max-width: 2680px) {
  .home-image-info .text {
    width: 1600px;
  }
}

#home-search {
  .twitter-typeahead {
    .form-control {
      height: 46px;
    }
    .tt-input.form-control {
      color: #1B5957;
    }

    .tt-hint.form-control {
      height: 46px;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
    }

    .tt-menu {
      // @extend .dropdown-menu;
      width: 100%;
      background-color: #1B5957;
      text-align: left;
      color: #fff;
      font-weight: bold;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}