.record-tag {
  input[type="submit"] {
    display: none;
  }
  .saved {
    display: none;
    margin-top: 5px;
    float: none;
  }
  input[type="text"] {
    width: 500px;
    border-radius: 3px;
    display:inline
  }
}
