.twitter-typeahead {
  float: left;
  width: 100%;
  z-index: 10000;
  
  .tt-input.form-control {
    width: 100%;
  }
  
  .tt-hint.form-control {
    width: 100%;
  }

  .tt-menu {
    // @extend .dropdown-menu;
    width: 100%;
    background-color: #1B5957;
    text-align: left;
    color: #fff;
    font-weight: bold;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .tt-cursor {
    background-color: #fff;
    color: #000;
    text-decoration: none;
  }

  .tt-suggestion {
    font-size: 14px;
    padding: 5px 5px 5px 10px;
  }
}