$dark-background-color: #102826;

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}

#main-content {
  margin-top:100px;
}

.toggle_bookmark {
  display: none;
}

.search-widgets div {
  z-index: 0;
}

.search-widgets #sort-dropdown {
  display: none;
}

.search-widgets #per_page-dropdown {
  z-index: 99;
}

// Navbar
.navbar {
  margin-bottom:0px;
}

#authentication-block {
  color: #E8E8E8;
  position: absolute;
  right: 100px;
  top: 25px;
  width: 500px;
  z-index: 10000000000000000;
}

#authentication-block .textfield input {
  padding-left: 6px;
  color: black;
  height: 34px;
}

#authentication-block .btn {
  padding: reset;
  height: 34px;
}

#authentication-block .actions {
  margin: 0;
}

#authentication-block .actions input {
  background-color: #5D5D5D;
  border-color: #5D5D5D;
}

#authentication-block ul {
  margin: 0;
  padding: 0;
}

#authentication-block li {
  list-style: none;
}

#authentication-block .field {
  float: left;
  margin-right: 10px;
}

// Masonry Items
.item{
  width:  80px;
  height: 80px;
  float: left;
  margin: 5px;
  border: 1px solid #333;
  overflow: hidden;
}

.item.w2 {
  width:  180px;
  height: 180px;
}

// Subjects
ol.subjects {
  list-style: none;

  li {
    display:inline;

    a.label.label-default {
      font-weight: normal;
    }
  }
}

#footer {
  background-color: $dark-background-color;
  padding-bottom:100px;
  padding-top: 15px;
  width: 100%;

  a {
    color:#E8EBEA;
  }
  .static-page-links ul li {
    display: inline;
  }

  color: #E8EBEA;

  .credits ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
  }

  .credits li {
    margin-left: 0;
    padding: 0;
  }

  .credits a {
    text-decoration: underline;
  }

}

#map { height: 180px; }

#technical-metadata{
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;
  font-size:0.85em;
  margin:2em 0;
  padding:1em 0 0 0;
}

.social-button {
  // ewwe
  [id^=___plus_0] iframe { width:82px !important; }
}

.fb-share-button {
  margin-left: -10px;
}

#documents label {
  font-weight: normal;
}

.navbar-static-top {
  z-index:1000;
}

.documents-list {
  .thumbnail {
    display: inline;
    margin-bottom: 5px;
  }
}

#atstbx,
.addthis_sharing_toolbox {
  display: inline !important;
}

.gallery  {

  .pin-it {
    margin: -5px 0 5px;
  }

  .document {
    float: left;
    position:relative;
    z-index:5;
    width: 175px;
    height: 230px;
    padding: 5px;
    .cover-image {
      height:100px;
      img.thumbnail {
        height: 100px;
        width: 75px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .info {
      text-align: center;
    }
    .info h5{
      height: 75px;
    }
    .record-actions label {
      font-weight: normal;
      display: block;
      vertical-align: top;
      color: #747474;
      margin-top: 5px;
    }
  }
}

.blacklight-pages-home {
  #main-container {
    padding: 0 !important;
    margin: 0;
  }

  #main-content {
    margin-top: 0;
  }
}

.home-panel .search-query-form,
.home-panel .browse-home {
  float: right;
}

.input-group-btn.home {
    border-bottom-left-radius: 10;
}

body.blacklight-pages-home {
  background-color: #102826;
}

#home-search {
  max-width: 600px;
  padding: 0;

  .tagline {
    color: #1B5958;
    font-weight: normal;
    text-align: right;
    margin-right: 45px;
  }

  .record-count {
    color: #1B5958;
  }

  .search-bar {
    padding: 15px 15px 0 15px;
  }

  .search-query-form {
    .input-group {
      #q {
        width: 300px;
      }
    }
  }
}

#home-search .help {
  border: none;
}

#home-search .help .btn-nav:hover {
  opacity: 0.90;
}

#home-search .btn-default.btn-nav{
  background-color: #1B5958;
  color: #FCFCFC;
  border-bottom: none;
  border-radius: 0;
  line-height: 1em;
  margin-top: 10px;
  opacity: 0.75;
}

#home-search .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-right: none;
}

#home-search .btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child {
  border-left: none;
}

#home-search .browse-by {
  margin: 8px 0 0 5px;
  background:rgba(255,255,255,0.75);
  color: #1B5958;
}

#home-search .search-query-form {
  padding-right: 0;
}

.home-image-info {
  padding-left: 10px;
  padding-top: 30px;
  margin-top: -50px;
  font-size: 1.1em;
  color: #fff;
  min-height: 51px;
  background: linear-gradient(to bottom, rgba(255,255,255,0), black);
  width: 100%;
}

.home-image-info a {
  color: #DC6F45;
}

.home-image-info .text {
  width: 1000px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

#home-search {
  background:rgba(255,255,255,0.75);
  margin-top: 150px
}

#home-search-logo {
  background-image: asset_url('2Color-UmbraMarkHome.png');
  background-repeat: no-repeat;
  min-height: 150px;
  background-position: right;
  margin-top: 15px;
  margin-left: -10px;
}

#home-search-slogan {
  margin-top: 52px;
  text-align: left;
}

#home-search .input-group-addon {
  display: none;
}

#home-search-slogan h1 {
  margin: 0;
  font-size: 1.75em;
  color: #DC6F45;
  text-transform: uppercase;
}

.home-panel  {
    border: 0;
    margin: 0;
    padding: 0;
    min-height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    text-align: center;

    h2 {
      text-align: left;
      font-weight: bold;
      padding-left: 2em;
      color: #A2A2A2;
      font-size: 2em;
    }


    .thumbnail {
      border: none;
    }

    .thumbnail h3 {
        padding-left: 10px;
    }
}

    .navbar-nav .umbra-about-slug {
      display: none;
    }

.home-panel .icon-search,
.blacklight-catalog-show .icon-search {
    font-size: 4em;
}

.blacklight-catalog-show {
  .thumbnail {
    max-width: 300px;
  }
}

.ribbon-block {
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
  width: 300px;
  overflow: hidden;
}

@media (max-width: 767px) {

  .navbar-secondary ul {
    margin-left: 15px;
  }

  .search-widgets .view-type {
    margin-top: 15px;
  }

  .alert-warning {
    display: none;
  }

  .facets-toggle {
    margin: 15px;
  }

  .navbar .browse-item {
    display: none;
  }

  .ribbon {
    position: absolute;
    right: -50px !important;
    top: 5px !important;
    z-index: 10;
  }

  .ribbon a {
    font-size: 1.2em !important;
    padding: 10px 50px !important;
  }

  .nav-brand a {
    float: left;
    display: block;
  }

  .navbar-header {
    padding-right: 15px;
    float: left;
  }

  .search-query-form {
    .input-group {
      margin: 10px 30px;
      #q {
        float: right;
        @include border-left-radius(3px);
        width: 100% !important;
      }
    }
  }

  #primary-nav {
    text-align: right;
  }

  #primary-nav .browse-item {
    padding-right: 20px;
  }

  .browse {
    margin-top: 10px;
  }

  .navbar-form {
    box-shadow: none;
    border: none;
    margin: 0;
  }

  .input-group-addon {
    display: none;
  }

  .home-panel  {
    min-height: 200px;
    margin-top: 100px;
  }

}

.input-group-addon {
  padding: 3px;
  font-size: 1em;
}

#search_field {
  font-size: .9em;
}

.search-query-form {
    padding: 0 30px 0 20px;
    .input-group {
      margin-left: 10px;

      #q {
        width: 300px;
      }
    }
  }

@media (min-width: 768px) {

  .static-page-content {
    min-height: 700px;
  }

  .blacklight-pages-home .navbar-primary {
    opacity: 0.95;
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 1000px) {
  .ribbon {
    right: -50px !important;
    top: 5px !important;
  }

  .ribbon a {
    font-size: 1.2em !important;
    padding: 10px 50px !important;
  }

  .page-header {
    border-bottom: none;
  }

  #home-search {
    .search-query-form {
      .input-group {
        #q {
          width: 300px;
        }
      }
    }
  }

  .search-query-form {
    .input-group {
      #q {
        width: 250px;
      }
    }
  }
}


@media (max-width: 600px) {
  .home-image-info .text {
    width: 400px;
  }

  .gallery  {
    .document {
      overflow:auto;
    }
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .home-image-info .text {
    width: 550px;
  }
}

@media (min-width: 1000px) and (max-width: 1366px) {
  .home-image-info .text {
    width: 1000px;
  }
}

@media (min-width: 1366px) and (max-width: 1680px) {
  .home-image-info .text {
    width: 1300px;
  }
}

@media (min-width: 1680px) and (max-width: 2680px) {
  .home-image-info .text {
    width: 1600px;
  }
}

.ribbon {
  background-color: #1B5957;
  z-index: 1000;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  right: -75px;
  top: 20px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #ccc;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin: 1px 0;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}

.ribbon a:hover {
  color: #fff;
}


.static-page-content {

  p {
    margin-left: 35px;
  }

  li a:hover {
    background-color: none !important;
  }

  max-width: 1024px;

  ul.content-list li {
    margin: 0 0 15px 0;
  }

  li {
    list-style: none;
  }
}

.sidebar {
  max-width: 250px;

  .nav-stacked a:hover {
    color: #454545;
  }

  li.active a {
    color: #454545;
  }

  .panel-default {
    background-color: #E7E7E7;
    border: none;
  }

  .dropdown li.active a {
    font-weight: bold;
  }
}

.subnav-dropdown {
  margin-left: 5px;
}


/* Keep the facet for browsing, just don't show it on search results */
.blacklight-sourceresource_collection_title_s {
  display: none;
}

.about-logos {
  padding: 25px;
  text-align: center;
  img {
    width: 230px;
    margin-left: 3px;
    padding-bottom: 25px;
  }
  .imls img {
    width: 300px;
  }
}

.navbar.lower {
  min-height: 75px;

  .share {
    margin-top: 10px;
  }
}

.back {
  margin-top: 15px;
}

#documents {
  h5 {
    margin-top: 2px;
  }
  .btn-primary {
    font-size: .9em;
    background-color: #fff;
    color: #337ab7;
    border-color: #E8E8E8;
    padding: 3px;
    margin: 3px 0 5px;
  }
  .btn-primary:hover {
    background-color: #EE6D4F;
    color: white;
  }
}

.btn-primary {
  background-color: #EE6D4F;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

.btn-primary:hover {
  background-color: #C35941;
}

.range_limit{
  .btn-default {
    color: white;
    background-color: #EE6D4F;
  }
  .btn-default:hover {
    background-color: #C35941;
  }
}

.alert {
  margin-bottom: 10px;
  float:left;
}

.alert-warning {
  color: #EE6D4F;
  background-color: #FDF2EF;
  border-color: #F4A28F;
}