$dark-background-color: #102826;

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}

// Navbar
.navbar {
  margin-bottom:0px;
}

// Masonry Items
.item{
  width:  80px;
  height: 80px;
  float: left;
  margin: 5px;
  border: 1px solid #333;
  overflow: hidden;
}

.item.w2 {
  width:  180px;
  height: 180px;
}

// Subjects
ol.subjects {
  list-style: none;

  li {
    display:inline;

    a.label.label-default {
      font-weight: normal;
    }
  }
}

#footer {
  background-color: $dark-background-color;
  padding-bottom:100px;
  padding-top: 15px;

  a {
    color:#E8EBEA;
  }
  .static-page-links ul li {
    display: inline;
  }

  color: #E8EBEA;

  .credits ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
  }

  .credits li {
    margin-left: 0;
    padding: 0;
  }

  .credits a {
    text-decoration: underline;
  }

}

#map { height: 180px; }

#technical-metadata{
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;
  font-size:0.85em;
  margin:2em 0;
  padding:1em 0 0 0;
}

.social-button {
  float: left;
}


.gallery  {
  .document {
    float: left;
    width: 200px;
    height: 300px;
    padding: 5px;
    .cover-image {
      height:200px;
      img.thumbnail {
        height: 200px;
        width: 175px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.home-panel .search-query-form,
.home-panel .browse-home {
  float: right;
}

.input-group-btn.home {
    border-bottom-left-radius: 10;
}

#home-search {
  max-width: 600px;
}

#home-search .browse-by {
  margin: 8px 0 0 5px;
  background-color: #1B5958;
  color: #E8EBEA;
}

#home-search .search-query-form {
  padding-right: 0;
}

.home-image-info {
  padding-left: 10px;
  margin-top: -50px;
  padding-top: 30px;
  font-size: 1.1em;
  color: #fff;
  min-height: 50px;
  background: linear-gradient(to bottom, rgba(255,255,255,0), black);
}

.home-image-info a {
  color: #DC6F45;
}

#home-search {
  background:rgba(255,255,255,0.75);
  min-height: 250px;
  margin-top: 150px
}

#home-search-logo {
  background-image: asset_url('2Color-UmbraMarkMedium.png');
  background-repeat: no-repeat;
  min-height: 150px;
  background-position: right;
  margin-top: 15px;
  margin-left: -10px;
}

#home-search-slogan {
  margin-top: 50px;
  text-align: left;
}

#home-search .input-group-addon {
  display: none;
}

#home-search-slogan h1 {
  margin: 0;
  font-size: 1.75em;
  color: #DC6F45;
  text-transform: uppercase;
}

.home-panel  {
    border: none;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    text-align: center;

    h2 {
      text-align: left;
      font-weight: bold;
      padding-left: 2em;
      color: #A2A2A2;
      font-size: 2em;
    }


    .thumbnail {
      border: none;
    }

    .thumbnail h3 {
        padding-left: 10px;
    }

}

.home-panel .icon-search,
.blacklight-catalog-show .icon-search {
    font-size: 4em;
}

@media (max-width: 767px) {

  .ribbon {
    right: -50px !important;
    top: 5px !important;
  }

  .ribbon a {
    font-size: 1.2em !important;
    padding: 10px 50px !important;
  }

  .nav-brand a {
    float: left;
    display: block;
  }

  .navbar-header {
    padding-right: 15px;
    float: left;
  }

  .search-query-form {
    .input-group {
      margin: 10px 30px;
      #q {
        float: right;
        @include border-left-radius(3px);
        width: 100% !important;
      }
    }
  }

  #primary-nav {
    text-align: right;
  }

  #primary-nav .browse-item {
    padding-right: 20px;
  }

  .browse {
    margin-top: 10px;
  }

  .navbar-form {
    box-shadow: none;
    border: none;
    margin: 0;
  }

  .input-group-addon {
    display: none;
  }

  .home-panel  {
    min-height: 200px;
  }

}

.input-group-addon {
  padding: 3px;
  font-size: 1em;
}

#search_field {
  font-size: .9em;
}

.search-query-form {
    padding: 0 30px 0 20px;
    .input-group {
      margin-left: 10px;

      #q {
        width: 300px;
      }
    }
  }

@media (min-width: 768px) {

  .static-page-content {
    min-height: 700px;
  }

  .homepage-true .navbar-primary {
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 1000px) {

  .ribbon {
    right: -50px !important;
    top: 5px !important;
  }

  .ribbon a {
    font-size: 1.2em !important;
    padding: 10px 50px !important;
  }

  .page-header {
    border-bottom: none;
  }

  .search-query-form {
    .input-group {
      #q {
        width: 250px;
      }
    }
  }
}

.ribbon {
  background-color: #1B5957;
  z-index: 10000000000000000000;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  right: -75px;
  top: 20px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #ccc;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin: 1px 0;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}

.ribbon a:hover {
  color: #fff;
}


.static-page-content {

  p {
    margin-left: 35px;
  }

  li a:hover {
    background-color: none !important;
  }

  max-width: 1024px;

  ul.content-list li {
    margin: 0 0 15px 0;
  }

  li {
    list-style: none;
  }
}

.sidebar {
  max-width: 250px;

  .nav-stacked a:hover {
    color: #454545;
  }

  li.active a {
    color: #454545;
  }

  .panel-default {
    background-color: #E7E7E7;
    border: none;
  }

  .dropdown li.active a {
    font-weight: bold;
  }
}

.subnav-dropdown {
  margin-left: 5px;
}


/* Keep the facet for browsing, just don't show it on search results */
.blacklight-sourceresource_collection_title_s {
  display: none;
}

.about-logos {
  padding: 25px;
  text-align: center;
  img {
    width: 230px;
    margin-left: 3px;
    padding-bottom: 25px;
  }
  .imls img {
    width: 300px;
  }
}

.navbar.lower {
  min-height: 75px;

  .share {
    margin-top: 10px;
  }
}

.btn-primary {
  background-color: #EE6D4F;
}

.btn-primary:hover {
  background-color: #C35941;
}

.range_limit{
  .btn-default {
    color: white;
    background-color: #EE6D4F;
  }
  .btn-default:hover {
    background-color: #C35941;
  }
}