@import 'https://fonts.googleapis.com/css?family=Assistant:300|Open+Sans:300,600|Rufina:400,700';

$dark-background-color: #102826;

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}

#main-content {
  margin-top:100px;
}

.toggle_bookmark {
  display: none;
}

.search-widgets div {
  z-index: 0;
}

.search-widgets {
  #sort-dropdown {
    text-transform: capitalize;
    button {
      text-transform: capitalize;
    }
  }
}

.search-widgets #per_page-dropdown {
  button {
    text-transform: capitalize;
  }
}

// Navbar
.navbar {
  margin-bottom:0px;
}

#authentication-block {
  color: #E8E8E8;
  position: absolute;
  right: 100px;
  top: 25px;
  width: 500px;
  z-index: 10000000000000000;
}

#authentication-block .textfield input {
  padding-left: 6px;
  color: black;
  height: 34px;
}

#authentication-block .btn {
  padding: reset;
  height: 34px;
}

#authentication-block .actions {
  margin: 0;
}

#authentication-block .actions input {
  background-color: #5D5D5D;
  border-color: #5D5D5D;
}

#authentication-block ul {
  margin: 0;
  padding: 0;
}

#authentication-block li {
  list-style: none;
}

#authentication-block .field {
  float: left;
  margin-right: 10px;
}

// Masonry Items
.item{
  width:  80px;
  height: 80px;
  float: left;
  margin: 5px;
  border: 1px solid #333;
  overflow: hidden;
}

.item.w2 {
  width:  180px;
  height: 180px;
}

// Subjects
ol.subjects {
  list-style: none;

  li {
    display:inline;

    a.label.label-default {
      font-weight: normal;
    }
  }
}

#footer {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #e76e51;
  padding-bottom:100px;
  padding-top: 35px;
  width: 100%;

  a {
    color:#E8EBEA;
  }
  .static-page-links ul li {
    display: inline;
  }

  color: #E8EBEA;

  .credits {
    margin-top: -15px;
    text-align: right;
    text-decoration: underline;
    .addthis_default_style a {
      float: none !important;
    }
  }

}

#map { height: 180px; }

#technical-metadata{
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;
  font-size:0.85em;
  margin:2em 0;
  padding:1em 0 0 0;
}

.social-button {
  // ewwe
  [id^=___plus_0] iframe { width:82px !important; }
}

.fb-share-button {
  margin-left: -10px;
}

#documents label {
  font-weight: normal;
}

.navbar-static-top {
  z-index:1000;
}

.documents-list {
  .thumbnail {
    display: inline;
    margin-bottom: 5px;
  }
  [class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline;
  }
}

#atstbx,
.addthis_sharing_toolbox {
  display: inline !important;
}

.gallery  {

  .title {
    padding-top: 10px;
    width: 145px;
    height: 95px;
    overflow: hidden;
  }

  .document {
    display: inline-block;
    z-index:5;
    width: 175px;
    height: 285px;
    padding: 5px;
    margin-bottom: 10px;
    .cover-image {
      height:100px;
      img.thumbnail {
        max-height: 100px;
        max-width: 100px;
        // margin: 10px 0 10px 25px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
      }
    }
    .info,
    .panel-heading {
      text-align: center;
    }
    .panel-body {
      height: 225px;
    }
    .panel-footer {
      text-align: center;
    }
    .record-actions label {
      font-weight: normal;
      display: block;
      vertical-align: top;
      color: #747474;
      margin-top: 5px;
    }
  }
}

.blacklight-pages-home {
  #main-container {
    padding: 0 !important;
    margin: 0;
  }

  #main-content {
    margin-top: 0;
  }
}

.input-group-btn.home {
    border-bottom-left-radius: 10;
}

body.blacklight-pages-home {
  background-color: #102826;
}

.blacklight-catalog-show {
  .thumbnail {
    max-width: 300px;
  }
}

.blacklight-catalog-show {
  .data-provider {
    font-size: 1.3em;
  }
}

.show-conent-top {
  margin-bottom: 15px;
}

.ribbon-block {
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
  width: 300px;
  overflow: hidden;
}

@media (max-width: 767px) {

  .navbar-secondary ul {
    margin-left: 15px;
  }

  .search-widgets .view-type {
    margin-top: 15px;
  }

  .alert-warning {
    display: none;
  }

  .facets-toggle {
    margin: 15px;
  }

  .navbar .browse-item {
    display: none;
  }

  .ribbon {
    position: absolute;
    right: -50px !important;
    top: 5px !important;
    z-index: 10;
  }

  .ribbon a {
    font-size: .8em !important;
    padding: 5px 50px !important;
  }

  .nav-brand a {
    float: left;
    display: block;
  }

  .navbar-header {
    padding-right: 15px;
    float: left;
  }

  .search-query-form {
    .input-group {
      margin: 10px 30px;
      #q {
        float: right;
        @include border-left-radius(3px);
        width: 100% !important;
      }
    }
  }

  #primary-nav {
    text-align: right;
  }

  #primary-nav .browse-item {
    padding-right: 20px;
  }

  .browse {
    margin-top: 10px;
  }

  .navbar-form {
    box-shadow: none;
    border: none;
    margin: 0;
  }

  .input-group-addon {
    display: none;
  }

  .home-panel  {
    min-height: 200px;
    margin-top: 100px;
  }

}

.input-group-addon {
  padding: 3px;
  font-size: 1em;
  display: none;
}

#search_field {
  font-size: .9em;
}

.search-query-form {
    padding: 0 30px 0 0px;
    .input-group {
      margin-left: 10px;

      #q {
        @include border-left-radius(3px);
        width: 325px;
      }
    }
  }

@media (min-width: 768px) {

  .static-page-content {
    min-height: 700px;
  }

  .blacklight-pages-home .navbar-primary {
    opacity: 0.95;
    display: none;
  }
}

@media (max-width: 361px) {

  .ribbon a {
    font-size: .6em !important;
    padding: 4px 50px !important;
  }

}

@media (max-width: 320px) {
  .search-query-form .input-group #q,
  .search-query-form .input-group {
    width: 145px !important;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .ribbon {
    right: -50px !important;
    top: 5px !important;
  }

  .ribbon a {
    font-size: 1.2em !important;
    padding: 10px 50px !important;
  }

  .page-header {
    border-bottom: none;
  }

  #home-search {
    .search-query-form {
      .input-group {
        #q {
          width: 300px;
        }
      }
    }
  }

  .search-query-form {
    .input-group {
      #q {
        width: 250px;
      }
    }
  }
}


@media (max-width: 600px) {
  .home-image-info .text {
    width: 400px;
  }

  .gallery  {
    .document {
      overflow:auto;
    }
  }


  .documents-list {
    .panel {
      text-align: center;
      .metadata-col {
        text-align: left;
      }
    }
    .view-original {
      display: block;
      text-align:center;
    }
  }

  .metadata-col,
  .thumbnail-col {
    float: none !important;
    display: inline-block;
  }
}


@media (min-width: 600px) {
  .blacklight-catalog-facet #main-container {
    max-width: 600px;
  }
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .blacklight-catalog-facet #main-container {
    margin-left: 200px;
  }
}


@media (min-width: 1500px) and (max-width: 1800px) {
  .blacklight-catalog-facet #main-container {
    margin-left: 300px;
  }
}

@media (min-width: 1800px) and (max-width: 2000px) {
  .blacklight-catalog-facet #main-container {
    margin-left: 400px;
  }
}

@media (min-width: 2000px) and (max-width: 2300px) {
  .blacklight-catalog-facet #main-container {
    margin-left: 500px;
  }
}


@media (min-width: 2300px) {
  .blacklight-catalog-facet #main-container {
    margin-left: 700px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .home-image-info .text {
    width: 550px;
  }
}

@media (max-width: 1023px) {
  .data-provider {
    display: none;
  }
}

@media (min-width: 960px) and (max-width: 1024px)  {
 .metadata-col {
    width: 275px;
  }
}

@media (min-width: 1024px) {
 .metadata-col {
    width: 450px;
  }
}

@media (min-width: 1280px) {
 .metadata-col {
    width: 650px;
  }
}

@media (min-width: 1500px) {
 .metadata-col {
    width: 800px;
  }
}


@media (min-width: 1000px) and (max-width: 1366px) {
  .home-image-info .text {
    width: 1000px;
  }
}

@media (min-width: 1366px) and (max-width: 1680px) {
  .home-image-info .text {
    width: 1300px;
  }
}

@media (min-width: 1680px) and (max-width: 2680px) {
  .home-image-info .text {
    width: 1600px;
  }
}

.ribbon {
  background-color: #1B5957;
  z-index: 100000000000;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  right: -75px;
  top: 20px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #ccc;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin: 1px 0;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}

.ribbon a:hover {
  color: #fff;
}


.static-page-content {

  p {
    margin-left: 35px;
  }

  li a:hover {
    background-color: none !important;
  }

  max-width: 1024px;

  ul.content-list li {
    margin: 0 0 15px 0;
  }
}

.sidebar {
  max-width: 250px;

  .nav-stacked a:hover {
    color: #454545;
  }

  li.active a {
    color: #454545;
  }

  .panel-default {
    background-color: #E7E7E7;
    border: none;
  }

  .dropdown li.active a {
    font-weight: bold;
  }
}

.subnav-dropdown {
  margin-left: 5px;
}


/* Keep the facet for browsing, just don't show it on search results */
.blacklight-sourceresource_collection_title_s {
  display: none;
}

.about-logos {
  padding: 25px;
  text-align: center;
  img {
    width: 230px;
    margin-left: 3px;
    padding-bottom: 25px;
  }
  .imls img {
    width: 300px;
  }
}

.navbar.lower {
  min-height: 75px;

  .share {
    margin-top: 10px;
  }
}

.back {
  margin-top: 15px;
}

#main-content {
  .btn-primary {
    border-color: #777777;
  }

  .btn-primary:hover {
    background-color: #1B5957;
  }
}

#documents.documents-list {
  .btn-primary {
    font-size: 1em;
  }
}

#documents.gallery {
  .btn-primary {
    font-size: .9em;
  }
}

.btn-primary {
  background-color: #EE6D4F;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

.btn-primary:hover {
  background-color: #C35941;
}

.range_limit{
  .btn-default {
    color: white;
    background-color: #EE6D4F;
  }
  .btn-default:hover {
    background-color: #C35941;
  }
}

.alert {
  margin-bottom: 10px;
  float:left;
}

.alert-warning {
  color: #EE6D4F;
  background-color: #FDF2EF;
  border-color: #F4A28F;
}

.document-title-heading {
  font-size: 1.2  5em;
}

.list-results-metadata {
  margin: 15px 0 0 15px;

  .title,
  .document-counter,
  .data-provider {
    font-size:1.3em;
  }
  .metadata-field {
    color:#777777;
  }
}

.thumbnail-col,
.metadata-col {
  float: left;
}

.blacklight-sourceresource_type_ssi {
  text-transform: capitalize;
}

.editor-fields {
  .description {
    overflow: hidden;
    max-height: 5ch;
  }
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.popover {
  z-index: 100;
}

.tour-backdrop {
  z-index: 1;
}

.tour-step-background {
  display: none;
}

#facet-sourceresource_type_ssi {
  z-index: 100;
}

.blacklight-sourceresource_type_ssi {
  z-index: 1000000000000000;
}

.pagination li.active span {
  z-index: 1;
}